<template>
  <footer id="footer">

    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <p class="pull-left">Copyright © 2020 E-SHOPPER Inc. All rights reserved.</p>
          <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
        </div>
      </div>
    </div>

  </footer>
</template>

<script>
    export default {
        name: "FrontFooter"
    }
</script>

<style scoped>

</style>
